@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.form-fields{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.fields{
    width: 100% !important;
}
.align-right{
    text-align: right;
}
